name: Build

on:
  push:
    branches: [main]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Setup Node Environment
      uses: actions/setup-node@v1
      with:
        node-version: "14.x"
    - name: Install Dependencies
      run: npm ci
    # - name: Perform Lint
    #   run: npm run lint
    # - name: Perform Tests
    #   run: npm run test | tee test.log
    #   env:
    #     FORCE_COLOR: true
    # - name: Upload Test Results
    #   uses: actions/upload-artifact@v2
    #   if: failure()
    #   with:
    #     name: Test Results
    #     path: test.log
    - name: Publish Code
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
